.containerRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.inputBasicDesign {
    margin: 0.2rem;
    width: 15rem;
    height: 2.5rem;
}
.rowInput{
    width: 40rem;
}
.containerIcon{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.iconLogin{
    font-size: 4rem;
    color: rgb(3, 45, 101);
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnLogin{
    background-color: rgb(3, 45, 101);
    border-color: rgb(3, 45, 101);
    font-family: 'Exo', sans-serif;
    width: 5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnLogin:hover{
    background-color: rgba(255, 255, 255, 0.74);
    color: rgb(3, 45, 101);
    font-family: 'Exo', sans-serif;
}
.registerSendDeac {
    color: #fff;
    background-color: rgb(3, 45, 101);
    border-color: #007bff;
    font-family: 'Exo', sans-serif;
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    font-size: 1rem; 
    margin-top: 3rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
}
.registerSendAct {
    cursor: pointer;
    background-color: rgb(26, 101, 199);
    width: 12rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerSendAct:hover {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.74);
    color: rgb(3, 45, 101);
    font-family: 'Exo', sans-serif;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.5rem;
}
footer{
    display: flex;
    justify-content: flex-end;
}
@media(max-width:992px){
    .rowInput{
        width: 28rem;
    }
}
@media(max-width:500px){
    .rowInput{
        width: 20rem;
    }
}