.cont-treatment-1{
    margin-left: 2rem;
    width: 23rem;
    height: 23rem;
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.363);
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;

}

.cont-all{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 7%;
    top: -5%;
}

.img-logo{
    width: 4.2rem;
    margin-top: 3rem;
}

.title-treatment-1{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(3, 45, 101);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 18rem;
}

.text-treatment-1{
    color: rgb(64, 64, 64);
    font-weight: 500;
    margin-bottom: 1.2rem;
    width: 15rem;
    font-size: 0.9rem;
}

.arrow{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.appointment-btn{
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    background-color: rgb(3, 45, 101);
    border-color: rgb(3, 45, 101);
    width: 8.5rem;
}

/* MEDIA QUERIES DEL COMPONENTE "CARD" */

@media(max-width:450px){
    .cont-treatment-1{
        width: 18rem;
    }
    .title-treatment-1{
        font-size: 1.2rem;
        
        width: 14rem;
    }
    .text-treatment-1{
        width: 15rem;
        font-size: 0.85rem;
    }
}
