body {
  margin: 0;
  padding: 0;
}
.allNav {
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 0 2px 20px rgb(119, 223, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.2rem rgba(119, 223, 255, 0.616);
}
.rowNav {
  display: flex;
  gap: 50rem;
  align-items: center;
  
}
.navMenu {
  font-family: "Exo", sans-serif;
  font-size: 1.1rem;
  color: rgb(119, 223, 255);
  display: flex;
  gap: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.navbarTitle {
  font-family: "Exo", sans-serif;
  font-size: 3rem;
  color: rgb(119, 223, 255);
  filter: drop-shadow(0px 0px 2px #ffffff);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* MEDIA QUERIES PARA LA NAVBAR */

@media (max-width: 1200px) {
  .rowNav {
    gap: 15rem;
  }
}
@media (max-width: 1000px) {
  .rowNav {
    gap: 3.5rem;
  }
}
@media (max-width: 854px) {
  .rowNav {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
@media (max-width: 772px) {
  .rowNav {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .rowNav {
    gap: 2rem;
  }
  .navMenu {
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
    padding-bottom: -1rem;
    justify-content: center;
    align-items: center;
  }
}
