body {
  margin: 0;
  padding: 0;
}
.allNav {
  
  padding: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 0 2px 20px rgb(119, 223, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.2rem rgba(119, 223, 255, 0.616);
  height: 5.5rem;
  overflow: hidden;
}
.rowNav {
  display: flex;
  gap: 20rem;
  align-items: center;
  height: 100%;
}
.logotypeMortaldent {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.navbarTitle {
  font-family: "Exo", sans-serif;
  font-size: 3rem;
  color: rgb(119, 223, 255);
  filter: drop-shadow(0px 0px 2px #ffffff);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  width: 20rem;
}
.navMenu {
  font-family: "Exo", sans-serif;
  font-size: 1.1rem;
  color: rgb(119, 223, 255);
  display: flex;
  gap: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}
.navigatorDesign {
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}
.modeAdmin{
  color: red
}

/* MEDIA QUERIES PARA LA NAVBAR */

@media (max-width: 1200px) {
  .rowNav {
    gap: 15rem;
  }
}
@media (max-width: 1000px) {
  .rowNav {
    gap: 3.5rem;
  }
}
@media (max-width: 854px) {
  .rowNav {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
@media (max-width: 772px) {
  .rowNav {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .allNav {
    height: 10rem;
  }
  .rowNav {
    gap: 0.5rem;
  }
  .navMenu {
    gap: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logoBox{
    display: none;
  }
}
