.mortaldent-footer {
  padding-top: 2rem;
  /* height: auto; */
  background-color: rgb(119, 223, 255);
  box-shadow: 0 2px 8px rgb(119, 223, 255);
  /* height: 10rem;   */
  width: 100%;
  font-size: 200;
}
.separator-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.separator {
  height: 1rem;
  color: rgba(0, 0, 0, 0.71);
  width: 67.3%;
}
.privacy-all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.privacy-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.privacy {
  color: rgba(0, 0, 0, 0.71);
  font-size: 1rem;
  font-family: "Exo", sans-serif;
}
.reserved-container {
  margin-left: 13.5rem;
}
.reserved {
  font-family: "Exo", sans-serif;
  color: rgba(0, 0, 0, 0.74);
  font-size: 1rem;
}
.content-advisor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.advisor {
  color: rgba(0, 0, 0, 0.71);
  font-size: 1rem;
  font-family: "Exo", sans-serif;
  text-align: left;
  width: 79rem;
  margin-bottom: 3rem;
}

/* MEDIA QUERIES PARA EL FOOTER */

@media (max-width: 1400px) {
  .privacy-container {
    gap: 0.8rem;
  }
  .advisor {
    width: 67rem;
  }
}
@media (max-width: 1200px) {
  .reserved-container {
    margin-left: 7rem;
  }
  .advisor {
    width: 60rem;
    margin: 2rem;
  }
}
@media (max-width: 992px) {
  .treatment-footer {
    gap: 4rem;
  }
  .privacy-all {
    display: flex;
    flex-direction: column;
  }
  .reserved-container {
    margin-left: 0;
    margin-top: 1rem;
  }
  .advisor {
    width: 45rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .treatment-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-int-treat {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .treatment-title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .privacy-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
